In [3]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics

In [8]:
raw_data=pd.read_csv('history.csv')
raw_data

    CUST_ID  MONTH_1  MONTH_2  MONTH_3  MONTH_4  MONTH_5  MONTH_6    CLV
0      1001      150       75      200      100      175       75  13125
1      1002       25       50      150      200      175      200   9375
2      1003       75      150        0       25       75       25   5156
3      1004      200      200       25      100       75      150  11756
4      1005      200      200      125       75      175      200  15525
5      1006       25      200      125      150       50       25   7950
6      1007      100      175      150      100       75       50   8813
7      1008      150       50       50       50       75      200   9375
8      1009      100      125      150       25      125       75   8063
9      1010      100       50      175       25      125      200   8313
10     1011       75       50        0      150       75      175   6825
11     1012      200      125       50      175      125      100  13425
12     1013       50      200       50      200       75        0   6813
13     1014      150      200       25      100       75      200  10381
14     1015      200      200      150      150      200      200  17100
15     1016      175      175      100       50      175       50  11619
16     1017      100      100      125      175      200      125   9750
17     1018      175      150      175      125      175      175  12813
18     1019      125      200        0      200       25       25   9675
19     1020      100       50        0       25       50        0   4950
20     1021      100       50      175      200      200      200  10625
21     1022      175      125      100       25      175       75   9938
22     1023      175        0      200      100       50       25  11700
23     1024       50      100      175      175       50       75   9150
24     1025      125      150       75       50      175        0   9006
25     1026       75        0       25      200      200      175   8400
26     1027       25      100       75       25      175      100   5431
27     1028      175       25      125      125       50        0   9900
28     1029      200      175       50      200      200      175  15450
29     1030       75      125       25      100      100        0   6188
..      ...      ...      ...      ...      ...      ...      ...    ...
70     1071      200      200      200       50      125      175  15975
71     1072      100      125      150      125       25      175   9694
72     1073       75      175      125       75       50      100   7500
73     1074       75      125      175      200      100      150   9625
74     1075      125       75       75      125      125      200   9694
75     1076       50      100       75       50       50      200   6600
76     1077      175       75       75      125      175       50  11925
77     1078       75      150       25      200       25        0   7575
78     1079       50       75        0      100        0      100   4125
79     1080      200      200      200      200      200      125  15125
80     1081      100      200      200       50       50       50  10950
81     1082      150      175       50       25       50      175   8500
82     1083      200      125      100      200       25       25  12169
83     1084       75      150      175      200      125      125  11925
84     1085       75       25      100      125      125      200   8625
85     1086       75      125       75       75       25      100   7275
86     1087      150       75       50      200      125       75   9313
87     1088      125      200       50        0        0      150   7250
88     1089       25      200      150      200      125      175   9694
89     1090       50      100      150       50       25      125   6063
90     1091      150        0      100      125      200      100  10175
91     1092      100      100      125       50      150       50   7750
92     1093       50      200       75      150      200       25   9300
93     1094       50      200      100      100      100       75   7838
94     1095      200        0       25      150       50      200   9250
95     1096      150      200       25      125       50       75   9763
96     1097      100      100      125      150      100      125   9625
97     1098      100       75      200      200      100       50   9750
98     1099       25      150      150      125      100      175   8113
99     1100      125      200       25       75       75      200   8438

[100 rows x 8 columns]

In [9]:
raw_data.dtypes

CUST_ID    int64
MONTH_1    int64
MONTH_2    int64
MONTH_3    int64
MONTH_4    int64
MONTH_5    int64
MONTH_6    int64
CLV        int64
dtype: object

In [10]:
raw_data.head()

   CUST_ID  MONTH_1  MONTH_2  MONTH_3  MONTH_4  MONTH_5  MONTH_6    CLV
0     1001      150       75      200      100      175       75  13125
1     1002       25       50      150      200      175      200   9375
2     1003       75      150        0       25       75       25   5156
3     1004      200      200       25      100       75      150  11756
4     1005      200      200      125       75      175      200  15525

In [12]:

cleaned_data=raw_data.drop('CUST_ID',axis=1)
cleaned_data.corr()['CLV']

MONTH_1    0.734122
MONTH_2    0.250397
MONTH_3    0.371742
MONTH_4    0.297408
MONTH_5    0.376775
MONTH_6    0.327064
CLV        1.000000
Name: CLV, dtype: float64

In [14]:
predictors = cleaned_data.drop("CLV",axis=1)
targets = cleaned_data.CLV

pred_train, pred_test, tar_train, tar_test  =   train_test_split(predictors, targets, test_size=.1)
print( "Predictor - Training : ", pred_train.shape, "Predictor - Testing : ", pred_test.shape )

Predictor - Training :  (90, 6) Predictor - Testing :  (10, 6)

In [15]:
model=LinearRegression()
model.fit(pred_train,tar_train)
print('Coefficints:\n',model.coef_)
print('Intercept:',model.intercept_)
predictions=model.predict(pred_test)
predictions
sklearn.metrics.r2_score(tar_test,predictions)

Coefficints:
 [34.66823564 11.009258   15.55627633 11.21382438  7.88975621  5.74863042]
Intercept: -69.5400141334976

0.9349075751877794