In [10]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics
from sklearn.model_selection  import train_test_split

In [11]:
prospect_data=pd.read_csv('browsing.csv')
prospect_data

,SESSION_ID,IMAGES,REVIEWS,FAQ,SPECS,SHIPPING,BOUGHT_TOGETHER,COMPARE_SIMILAR,VIEW_SIMILAR,WARRANTY,SPONSORED_LINKS,BUY
0,1001,0,0,1,0,1,0,0,0,1,0,0
1,1002,0,1,1,0,0,0,0,0,0,1,0
2,1003,1,0,1,1,1,0,0,0,1,0,0
3,1004,1,0,0,0,1,1,1,0,0,0,0
4,1005,1,1,1,0,1,0,1,0,0,0,0
5,1006,1,0,0,1,0,1,1,0,0,0,0
6,1007,1,1,0,1,1,1,0,1,0,1,0
7,1008,0,1,1,1,1,0,1,0,1,1,1
8,1009,1,0,1,0,1,0,1,0,1,1,0
9,1010,1,1,1,1,0,0,1,1,0,1,0
10,1011,1,0,0,1,0,1,0,0,0,1,0
11,1012,0,0,0,1,1,0,0,1,1,1,0
12,1013,0,0,1,0,0,1,1,0,1,0,0
13,1014,1,0,1,0,1,1,1,0,0,1,1
14,1015,1,1,0,1,1,1,1,1,1,0,0
15,1016,1,1,0,0,1,1,1,1,1,0,1
16,1017,0,0,0,0,1,1,0,1,0,0,0
17,1018,0,0,1,0,1,0,0,0,0,1,0
18,1019,1,1,1,0,0,1,0,0,0,0,1
19,1020,0,0,1,0,0,1,0,0,1,1,0
20,1021,0,1,1,1,1,1,0,0,0,1,0
21,1022,0,0,1,0,1,0,0,0,1,0,0
22,1023,1,1,1,0,0,1,0,0,0,0,1
23,1024,0,1,1,1,1,1,0,0,0,1,0
24,1025,0,1,1,0,0,1,1,1,0,1,1
25,1026,0,1,0,0,0,1,1,0,0,0,1
26,1027,1,1,1,0,1,0,1,0,0,0,0
27,1028,1,0,1,0,1,0,1,1,0,1,1
28,1029,1,0,0,1,0,0,0,0,1,1,1
29,1030,1,1,0,1,0,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
470,1471,0,1,1,1,1,0,0,1,0,0,0
471,1472,0,1,0,0,1,0,1,0,1,1,1
472,1473,0,1,1,1,1,1,0,0,0,1,0
473,1474,1,0,0,0,0,1,1,1,1,1,0
474,1475,1,0,1,1,0,1,1,1,0,0,0
475,1476,0,0,0,0,1,0,1,0,0,1,0
476,1477,0,1,1,1,1,1,0,0,0,1,0
477,1478,1,1,1,0,0,0,1,0,1,0,1
478,1479,1,1,1,1,1,0,0,1,1,0,0
479,1480,0,0,0,1,0,1,1,0,0,0,0
480,1481,0,0,1,0,0,1,0,0,1,1,0
481,1482,1,0,0,1,0,1,1,0,1,1,1
482,1483,1,0,1,1,1,0,0,0,1,0,0
483,1484,0,1,0,0,1,0,1,0,0,1,0
484,1485,1,0,1,0,1,1,0,1,1,1,0
485,1486,0,0,1,0,1,0,0,0,1,0,0
486,1487,0,1,0,0,0,1,1,1,1,1,1
487,1488,1,1,0,1,0,1,1,1,1,1,0
488,1489,1,0,0,0,0,1,1,1,1,0,0
489,1490,0,0,0,0,1,1,0,0,1,1,0
490,1491,0,0,1,0,1,0,0,1,0,1,0
491,1492,1,0,1,0,0,0,1,1,0,0,0
492,1493,0,1,0,1,0,1,0,1,0,0,0
493,1494,0,1,1,1,1,0,1,0,1,0,1
494,1495,0,0,0,0,1,0,1,1,1,1,1
495,1496,0,1,1,1,1,1,0,0,0,1,0
496,1497,1,1,1,1,0,0,1,1,1,0,1
497,1498,0,1,0,0,1,0,0,1,0,1,0
498,1499,0,1,1,1,0,1,0,0,1,0,0
499,1500,0,0,0,1,1,0,1,1,0,0,0

In [12]:
prospect_data.dtypes

SESSION_ID         int64
IMAGES             int64
REVIEWS            int64
FAQ                int64
SPECS              int64
SHIPPING           int64
BOUGHT_TOGETHER    int64
COMPARE_SIMILAR    int64
VIEW_SIMILAR       int64
WARRANTY           int64
SPONSORED_LINKS    int64
BUY                int64
dtype: object

In [13]:
prospect_data.head()

,SESSION_ID,IMAGES,REVIEWS,FAQ,SPECS,SHIPPING,BOUGHT_TOGETHER,COMPARE_SIMILAR,VIEW_SIMILAR,WARRANTY,SPONSORED_LINKS,BUY
0,1001,0,0,1,0,1,0,0,0,1,0,0
1,1002,0,1,1,0,0,0,0,0,0,1,0
2,1003,1,0,1,1,1,0,0,0,1,0,0
3,1004,1,0,0,0,1,1,1,0,0,0,0
4,1005,1,1,1,0,1,0,1,0,0,0,0

In [14]:
prospect_data.describe()

,SESSION_ID,IMAGES,REVIEWS,FAQ,SPECS,SHIPPING,BOUGHT_TOGETHER,COMPARE_SIMILAR,VIEW_SIMILAR,WARRANTY,SPONSORED_LINKS,BUY
count,500.000000,500.000000,500.0000,500.000000,500.0000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,1250.500000,0.510000,0.5200,0.440000,0.4800,0.528000,0.500000,0.580000,0.468000,0.532000,0.550000,0.370000
std,144.481833,0.500401,0.5001,0.496884,0.5001,0.499715,0.500501,0.494053,0.499475,0.499475,0.497992,0.483288
min,1001.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1125.750000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1250.500000,1.000000,1.0000,0.000000,0.0000,1.000000,0.500000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,1375.250000,1.000000,1.0000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1500.000000,1.000000,1.0000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
prospect_data.corr()['BUY']

SESSION_ID         0.026677
IMAGES             0.046819
REVIEWS            0.404628
FAQ               -0.095136
SPECS              0.009950
SHIPPING          -0.022239
BOUGHT_TOGETHER   -0.103562
COMPARE_SIMILAR    0.190522
VIEW_SIMILAR      -0.096137
WARRANTY           0.179156
SPONSORED_LINKS    0.110328
BUY                1.000000
Name: BUY, dtype: float64

In [16]:
predictors=prospect_data[['REVIEWS','BOUGHT_TOGETHER','COMPARE_SIMILAR','WARRANTY','SPONSORED_LINKS']]
targets=prospect_data.BUY

In [17]:
X_train,X_test,y_train,y_test=train_test_split(predictors,targets,test_size=0.3)

In [18]:
X_train.shape

(350, 5)

In [19]:
X_test.shape

(150, 5)

In [21]:
y_test.shape

(150,)

In [23]:
y_train.shape

(350,)

In [29]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier=classifier.fit(X_train,y_train)
predictions=classifier.predict(X_test)
sklearn.metrics.confusion_matrix(y_test,predictions)

array([[82, 10],
       [30, 28]], dtype=int64)

In [31]:
sklearn.metrics.accuracy_score(y_test,predictions)

0.7333333333333333

In [33]:
pred_prob=classifier.predict_proba(X_test)
pred_prob[0,1]

0.5013233819957429

In [35]:
browsing_data=np.array([0,0,0,0,0]).reshape(1,-1)
print("new visitor:propesity:",classifier.predict_proba(browsing_data)[:,1])

new visitor:propesity: [0.05263697]

In [36]:
browsing_data = np.array([0,0,1,0,0]).reshape(1, -1)
print("After checking similar products: propensity :",classifier.predict_proba(browsing_data)[:,1] )

After checking similar products: propensity : [0.16285299]

In [37]:
browsing_data = np.array([1,0,1,0,0]).reshape(1, -1)
print("After checking reviews: propensity :",classifier.predict_proba(browsing_data)[:,1] )

After checking reviews: propensity : [0.55268699]