In [5]:
import pandas as pd

userItemData = pd.read_csv('ratings.csv')
userItemData.head()

   userId  ItemId
0    1001    5001
1    1001    5002
2    1001    5005
3    1002    5003
4    1002    5004

In [6]:
itemList=list(set(userItemData["ItemId"].tolist()))

userCount=len(set(userItemData["ItemId"].tolist()))

itemAffinity= pd.DataFrame(columns=('item1', 'item2', 'score'))
rowCount=0

for ind1 in range(len(itemList)):
    
    item1Users = userItemData[userItemData.ItemId==itemList[ind1]]["userId"].tolist()
    
    
    for ind2 in range(ind1, len(itemList)):
        
        if ( ind1 == ind2):
            continue
       
        
        item2Users=userItemData[userItemData.ItemId==itemList[ind2]]["userId"].tolist()
        
        
        
        commonUsers= len(set(item1Users).intersection(set(item2Users)))
        score=commonUsers / userCount

        
        itemAffinity.loc[rowCount] = [itemList[ind1],itemList[ind2],score]
        rowCount +=1
        
        itemAffinity.loc[rowCount] = [itemList[ind2],itemList[ind1],score]
        rowCount +=1
        
itemAffinity.head()

    item1   item2  score
0  5001.0  5002.0    0.4
1  5002.0  5001.0    0.4
2  5001.0  5003.0    0.0
3  5003.0  5001.0    0.0
4  5001.0  5004.0    0.2

In [7]:
searchItem=5001
recoList=itemAffinity[itemAffinity.item1==searchItem]\
        [["item2","score"]]\
        .sort_values("score", ascending=[0])
        
print("Recommendations for item 5001\n", recoList)

Recommendations for item 5001
     item2  score
0  5002.0    0.4
6  5005.0    0.4
4  5004.0    0.2
2  5003.0    0.0